<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <title></title>
  </head>
  <body >
    <div ng-controller="LunchCheckController" >
      Enter here the food you are going to eat today
      <br>
    <input type="text" ng-model="FoodString" ng-change="change()">
    <br>
    <span ng-style="ColorStyles">{{amount}}|{{msg}}</span>
      <input type="button" ng-click="change()" value="Check">
    </div>

  </body>
</html>
